@using X.PagedList.Mvc.Core; @*import this so we get HTML Helper*@
@using X.PagedList; @*import this so we can cast our list to IPagedList *@
@using X.PagedList.Mvc.Common; @*import this for PagedListRenderOptions *@

@using Microsoft.AspNetCore.Http;

@model ProductVM
@{
    ViewBag.PageHeader = "Product Manager";
}


<div class="row">
    <div class="col-md-12">

        <div class="row">
            <div class="col-md-4">
                <form asp-action="ProductMaster" asp-route-page="@Model.ProductList.PageNumber" asp-controller="Product" asp-antiforgery="true">
                    <span class="text-danger"> @ViewBag.MsgShow</span>
                    <div asp-validation-summary="All"></div>
                    <input type="hidden" asp-for="Product.ID" />
                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group">

                                <label> Product / Service Name </label>
                                <input type="text" asp-for="Product.ProductName" class="form-control" />

                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">

                                <label> Price/Unit </label>

                                <input type="text" asp-for="Product.ProductUnitPrice" class="form-control" />

                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">

                                <label> Description </label>

                                <input type="text" asp-for="Product.Description" class="form-control" />

                            </div>

                            <div class="form-group">
                                <input type="submit" value="Add/Update Details" class="btn btn-primary" />
                                <a asp-action="ProductMaster" asp-route-ID="" asp-controller="Product" class="btn btn-danger">Cancel</a>

                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-8">
                @if (Model.ProductList != null && Model.ProductList.Count > 0)
                {
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-sm">
                            <thead>
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">Name | Description</th>
                                    <th scope="col">Price</th>
                                    <th scope="col">#</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.ProductList)
                                {
                                <tr>
                                    <td>
                                        @item.ID
                                    </td>
                                    <td>
                                        @item.ProductName
                                        <br/>
                                        @item.Description
                                    </td>
                                    <td>
                                        @item.ProductUnitPrice
                                    </td>
                                    <td>
                                        <a class="btn btn-success btn-sm" asp-action="ProductMaster" asp-controller="Product" asp-route-ID="@item.ID" asp-route-page="@Model.ProductList.PageNumber">Edit</a>

                                        <form asp-action="ProductMasterDelete" asp-controller="Product" asp-antiforgery="true" method="post">
                                            <input type="hidden" name="ID" value="@item.ID" />
                                            <input type="hidden" name="page" value="@Model.ProductList.PageNumber" />
                                            <input type="submit" value="Delete" onclick="return confirm('Are you sure, you want to delete this data ?');" class="btn btn-danger btn-sm" />
                                        </form>


                                    </td>
                                </tr>

                                }


                            </tbody>
                        </table>
                    </div>

                }
                else
                {
                    <div class="alert alert-info">
                        No Data is found.
                    </div>

                }
                @if (Model.ProductList != null && Model.ProductList.PageCount > 1)
                {
                    <hr />
                    @Html.PagedListPager(Model.ProductList, page => Url.Action("ProductMaster", "Product", new { page }),
                       new PagedListRenderOptions
                       {
                           LinkToFirstPageFormat = "First",
                           LinkToPreviousPageFormat = "Previous",
                           LinkToNextPageFormat = "Next",
                           LinkToLastPageFormat = "Last",
                           MaximumPageNumbersToDisplay = 3
                       }
                      )
                }
            </div>
        </div>

    </div>
</div>


