
@inject ICurrencyService _CurrencyService;
@model Invoice
@{
    ViewBag.PageHeader = "Create Invoice";
    string CurrenySymbol = _CurrencyService.GetCurrencyByID(Model.GS.CurrencyID).Symbol;
}

<div class="row">
    <div class="col-md-12">
        <form asp-action="CreateInvoice" asp-controller="IB" method="post">
            <div class="row">
                <div class="col-md-9">
                    <div class="row">
                        <div class="col-md-12">
                            <span class="text-danger"> @ViewBag.MsgShow</span>
                            <div asp-validation-summary="All"></div>
                            <input type="hidden" asp-for="LayoutName" />
                            <div class="outer-invoice">
                                <div class="row">
                                    <div class="col-md-12 " style="font-size:13px;">
                                        @{
                                            var UID = System.DateTime.UtcNow.Date.Day.ToString() + System.DateTime.UtcNow.Date.Month.ToString() +
                                                System.DateTime.UtcNow.Date.Year.ToString() + System.DateTime.UtcNow.Date.Hour.ToString() +
                                                System.DateTime.UtcNow.Date.Minute.ToString() + System.DateTime.UtcNow.Second.ToString();
                                            <span> No. # <input name="InvoiceNo" type="text" class="input-auto" style="font-weight:bold" readonly="readonly" value="@Model.GS.InvoicePrefix@UID.ToLower()" />  </span> <br />
                                        }
                                    </div>
                                    <div class="col-md-12 text-center pad-set" >
                                        <span style="font-size:20px;"> @Model.GS.InvoiceHeader </span><br />
                                        <span style="font-size:16px;"> @Model.GS.InvoiceSubHeader </span><br />
                                    </div>

                                </div>
                                <div class="row pad-set" >
                                    <div class="col-md-7">

                                        @{
                                            if (Model.LayoutName.ToString() == "1" || Model.LayoutName.ToString() == "2")
                                            {
                                                if (!string.IsNullOrWhiteSpace(Model.GS.LogoUrl))
                                                {
                                                    <img src="@Model.GS.LogoUrl" class="logo-display" />
                                                }
                                            }

                                        }
                                       


                                    </div>
                                    <div class="col-md-5 text-right " style="font-size:14px;">
                                        @{
                                            <span>
                                               Invoice Date :  <input type="text" name="InvoiceDate" class="input-auto datepicker" value="@System.DateTime.UtcNow.Date.ToString("MM/dd/yyyy")" />
                                            </span> <br />
                                            <span>Due On :<input type="text" name="InvoiceDueDate" class="input-auto datepicker" value="@System.DateTime.UtcNow.Date.ToString("MM/dd/yyyy")" /> 
                                            </span>
                                        }

                                    </div>
                                </div>
                                @{
                                    if (Model.LayoutName.ToLower() == "1" || Model.LayoutName.ToLower() == "3")
                                    {
                                        <div class="row pad-set" >

                                            <div class="col-md-6">
                                                <span>From</span><br />
                                                <span style="font-weight:bold"> @Model.GS.Name </span> <br />
                                                <span> @Model.GS.Address </span><br />
                                                <span> Email:  @Model.GS.Email </span><br />
                                                <span>Ph:  @Model.GS.Phone </span><br />
                                                <span> @Model.GS.Website </span><br />
                                            </div>

                                            <div class="col-md-6">
                                                <span>To</span><br />
                                                <span style="font-weight:bold" id="CustName">  </span><br />
                                                <span id="CustAddress"> </span><br />
                                                <span id="CustEmail">  </span><br />
                                                <span id="CustPhone">  </span><br />
                                            </div>
                                        </div>
                                    }
                                    if (Model.LayoutName.ToLower() == "2" || Model.LayoutName.ToLower() == "4")
                                    {
                                        <div class="row pad-set" >

                                            <div class="col-md-6">
                                                <span>To</span><br />
                                                <span style="font-weight:bold" id="CustName">  </span><br />
                                                <span id="CustAddress"> </span><br />
                                                <span id="CustEmail">  </span><br />
                                                <span id="CustPhone">  </span><br />
                                            </div>
                                            <div class="col-md-6">
                                                <span>From</span><br />
                                                <span style="font-weight:bold"> @Model.GS.Name </span> <br />
                                                <span> @Model.GS.Address </span><br />
                                                <span> Email:  @Model.GS.Email </span><br />
                                                <span>Ph:  @Model.GS.Phone </span><br />
                                                <span> w: @Model.GS.Website </span><br />
                                            </div>
                                        </div>
                                    }

                                }
                                
                                <div class="row" style="border-bottom:1px solid #e2e2e2;">
                                    <div class="col-md-12">
                                        <table class="table  table-sm" id="ProductDetails">
                                            <thead class="thead-light">
                                                <tr>
                                                    <th>Product</th>
                                                    <th>Price</th>
                                                    <th>Quantity</th>
                                                    <th>Sub Total</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>

                                                        <select class="form-control product-ddl" asp-items="Model.AllProducts">
                                                            <option value="">Select Product</option>
                                                        </select>
                                                    </td>
                                                    <td>

                                                        <input type="text" class="form-control product-price" placeholder="Price" readonly="readonly">
                                                        <input type="text" style="display:none;" name="SlectedItems[]" class="Pid-Quant" />
                                                    </td>
                                                    <td>
                                                        <input type="text" class="form-control product-quantity" placeholder="Quant">


                                                    </td>
                                                    <td>
                                                        <input type="text" class="form-control product-subtotal" placeholder="Sub Total" readonly="readonly">
                                                    </td>

                                                </tr>
                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <td colspan="3"><i> </i>  </td>
                                                    <td class="text-right"><input type="button" id="AddNewRow" class="btn btn-link btn-sm" value="+ Add Product" /></td>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>

                                <div class="row" style="border-bottom:1px solid #e2e2e2;padding-bottom:20px;padding-top:20px;">
                                    <div class="col-md-5" style="font-size:13px;">
                                        <span id="SpecificNotesDispalyHeader"></span>
                                       <textarea id="SpecificNotesDispaly" name="SpecificNotes" type="text" style="resize: none;" class="input-auto" readonly="readonly" ></textarea>
                                    </div>
                                    <div class="col-md-7 bolder-bottom">
                                        <div class="row">

                                            <div class="col-md-5 text-right">
                                                Total :
                                            </div>
                                            <div class="col-md-7 text-left">
                                                <small>  @CurrenySymbol </small> <input id="TotalWithoutTax" name="TotalWithoutTax" type="text" class="input-auto"/>

                                            </div>
                                        </div>
                                        <div id="TextSpan">
                                            <span id="taxPrecntage" style="display:none">@Model.GS.Taxes </span>
                                            <div class="row">
                                                <div class="col-md-5 text-right">
                                                    Taxes :
                                                </div>
                                                <div class="col-md-7 text-left">
                                                    <small>  @CurrenySymbol </small> <input id="TotalTaxes" name="TotalTaxes" type="text" class="input-auto" />

                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-5 text-right">
                                                    Total <small> (taxes inclusive) : </small>
                                                </div>
                                                <div class="col-md-7 text-left">
                                                    <small>  @CurrenySymbol </small> <input id="TotalWithTaxes" name="TotalWithTaxes" type="text" class="input-auto" />

                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12" style="line-height: 13px; font-size: 14px;padding-top:40px;">
                                        <span>@Html.Raw(Model.GS.Terms)</span>

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 text-center" style=" font-size: 12px;">
                                        <hr />
                                        @Html.Raw(Model.GS.InvoiceFooter)
                                    </div>
                                </div>
                            </div>






                        </div>
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-primary btn-validate"> Generate Invoice </button>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label> Choose Customer </label>
                                <select asp-for="CustomerID" id="customer-ddl" asp-items="Model.CustomerList" class="form-control ">
                                    <option value="">Select Customer</option>
                                </select>
                            </div>
                        </div>
                        @{
                            if (Convert.ToDecimal(Model.GS.Taxes) > 0)
                            {
                                <div class="col-md-12">
                                    <label>Want to add Taxes ?</label>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" asp-for="IsTaxApplicable" id="TaxCheckbox"> Yes / No

                                        </label>
                                    </div>
                                </div>
                            }
                        }

                        <div class="col-md-12">
                            <div class="form-group">
                                <label> Specific Notes </label>
                                <textarea type="text" rows="6" asp-for="SpecificNotes" class="form-control"></textarea>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label> Choose Status </label>
                                <select asp-for="Status" asp-items="Model.AllStatusList" class="form-control">
                                    <option value="">Select Status</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

</div>
@*This is because in jquery the slected dropdown gives error while using asp-items*@
<script type="text/html" id="rowHtml" style="display:none">
    <tr>
        <td>
            <select class="form-control product-ddl" asp-items="Model.AllProducts">
                <option value="">Select Product</option>
            </select>
        </td>
        <td>
            <input type='text' class='form-control product-price' placeholder='Price' readonly="readonly">
            <input type="text" style="display:none;" name="SlectedItems[]" class="Pid-Quant" />
        </td>
        <td><input type='text' class='form-control product-quantity' placeholder='Quant.'></td>
        <td style="text-align:right">
            <input type='text' class='form-control product-subtotal' placeholder='Sub Total' readonly="readonly">
            <a href='JavaScript:Void(0);' class='btn btn-link btn-sm ' id="remove-row-link">remove product</a>
        </td>
    </tr>
</script>
@*END*@
<script src="~/design/custom/js/customInvoice.js"></script>

